# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
venv/

# logs
logs/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
